@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .trailerwrapper {
  transform: rotateY(180deg);
}

 */
/* video::-webkit-media-controls-current-time-display {
  display: none;
}
video::-webkit-media-controls-play-button {
  display: none;
} */
.blog {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row4-start;
}
.mail {
  grid-column: col5-start;
  grid-row: row1-start / row2-start;
  /* background-color: red; */
}
.meet {
  grid-column: col5-start;
  grid-row: row3-start / row4-start;
}
.comic {
  grid-column: col4-start / col5-end;
  grid-row: row5-start;
}
.blogcomic {
  grid-column: col4-start / col5-end;
  grid-row: row5-start;
}
.playbutton {
  grid-column: col3-start / col4-start;
  grid-row: row5-start;
}
.blogplaybutton {
  grid-column: col3-start / col4-start;
  grid-row: row5-start;
  background-color: #000;
}
.instagram {
  grid-column: col1-start / col2-start;
  grid-row: row4-start / row5-end;
}
.trailervideo {
  grid-column: col3-start / col3-start;
  grid-row: row3-start / row4-start;
}
.line1 {
  grid-column: col2-start / col3-start;
  grid-row: row2-start / row3-start;
  transform: rotate(25deg);
  top: 100%;
  transform-origin: right;
}
.three {
  background: linear-gradient(
    to top right,
    #fff calc(100% - 1px),
    black,
    #fff calc(100% + 1px)
  );
}
.line2 {
  grid-column: col4-start / col5-start;
  grid-row: row2-start / row3-start;
  transform: rotate(-25deg);
  top: 100%;
  transform-origin: left;
  /* background-color:; */
}
.line3 {
  grid-column: col4-start / col5-start;
  grid-row: row3-start / row4-start;
  transform: rotate(-10deg);
  top: 50%;
  transform-origin: left;
}
.meetToComicThread {
  grid-column: col5-start / col6-start;
  grid-row: row4-start / row5-start;
}
.meetToComicThreadRope {
  bottom: 10%;
  left: 10%;
  transform: rotate(-60deg);
  /* top: 50%; */
  transform-origin: left;
}

.comicToButtonThread {
  grid-column: col3-start / col4-start;
  grid-row: row5-start / row6-start;
  /* background-color: red; */
}

.line4 {
  grid-column: col4-start / col5-start;
  grid-row: row4-start / row5-start;
  transform: rotate(30deg);
  top: 0%;

  transform-origin: left;
}
.line5 {
  grid-column: col3-start / col4-start;
  grid-row: row4-start / row5-start;
  transform: rotate(90deg);
  left: 50%;
  top: 0%;
  transform-origin: left;
}
.line6 {
  grid-column: col2-start / col3-start;
  grid-row: row4-start / row5-start;
  transform: rotate(-25deg);
  top: -2%;
  transform-origin: right;

  /* background-color: blue; */
}
.diagonal.leftToright {
  width: 110%;
  background: linear-gradient(
    to top left,
    transparent calc(50% - 1px),
    #000,
    transparent calc(50% + 1px)
  );
}
.diagonal.rightToleft {
  width: 100%;
  background: linear-gradient(
    to top right,
    transparent calc(50% - 1px),
    #000,
    transparent calc(50% + 1px)
  );
}
.mobileVideoTrailer {
  grid-column: col1-start / col5-end;
  grid-row: row1-start / row4-start;
  /* background-color: blue; */
}
.thread1 {
  grid-column: col1-start / col5-end;
  grid-row: row4-start / row11-end;

  /* background-color: green; */
}
.comp {
  grid-column: col2-start / col5-start;
  grid-row: row5-start / row6-start;
}
.thread2 {
  grid-column: col4-start / col5-end;
  grid-row: row8-start / row9-start;
  /* background-color: orange; */
}
.thread3 {
  grid-column: col1-start / col5-end;
  grid-row: row9-start / row11-start;
  /* background-color: orange; */
}
.thread4 {
  grid-column: col3-start / col4-start;
  grid-row: row6-start / row7-start;
  /* background-color: blue; */
}
.comp2 {
  grid-column: col1-start / col3-start;
  grid-row: row7-start / row8-start;
}
.comp3 {
  grid-column: col4-start / col5-end;
  grid-row: row7-start / row8-start;
}
.comp4 {
  grid-column: col3-start / col5-start;
  grid-row: row9-start / row10-start;
}

.comp5 {
  grid-column: col1-start / col3-start;
  grid-row: row11-start / row11-end;
}
.comp6 {
  grid-column: col5-start / col5-end;
  grid-row: row11-start / row11-end;
}

@media screen and (orientation: landscape) {
  .lock-orientation {
    height: 900px;
    transform: "rotate(90deg)";
  }
}

.backbutton {
  grid-column: col1-start / col2-start;
  grid-row: row1-start/row2-start;
}
.backbuttonCardContainer {
  grid-column: col1-start / col2-start;
  grid-row: row1-start/row3-start;
}
.backbuttonline {
  transform: rotate(25deg);
  top: 0%;
  transform-origin: left;
}
.titleBox {
  grid-column: col2-start/col4-start;
  grid-row: row1-start/row2-start;
}
.titleBoxTocard2Thread {
  grid-column: col3-start/col9-start;
  grid-row: row2-start/row6-start;
  overflow: hidden;
}
.titleBoxCardContainer {
  grid-column: col2-start/col5-start;
  grid-row: row1-start/row3-start;
}

.titleBoxTocard2Threadrope {
  transform: rotate(21deg);
  top: 20%;
  transform-origin: left;
}

.card1 {
  grid-column: col1-start/col3-start;
  grid-row: row6-start/row6-end;
  transform: rotate(-12deg) translate(30%, -10%);
}

.card2 {
  grid-column: col4-start/col5-start;
  grid-row: row5-start/row7-start;
  transform: rotate(-6deg);
}

.card3 {
  grid-column: col6-start/col7-start;
  grid-row: row4-start/row6-start;
}

.card4 {
  grid-column: col8-start/col10-start;
  grid-row: row5-start/row7-start;
  transform: rotate(6deg);
}

.card5 {
  grid-column: col11-start/col11-end;
  grid-row: row6-start/row7-end;
  transform: rotate(12deg) translate(-30%, -10%);
}
.centercardtoprev {
  grid-column: col2-start/col9-start;
  grid-row: row5-start/row6-start;
}
.centercardtoprevrope {
  transform: rotate(-5deg);
  top: 30%;
  /* left: 30%; */
  transform-origin: right;
}
/* .card3 {
  grid-column: col7-start/col8-start;
  grid-row: row4-start/row6-start;
  transform: rotate(6deg);
} */
/* meet the cast */
.descCard {
  grid-column: col5-start/col7-end;
  grid-row: row2-start/row3-start;
}
.titleTodescCard {
  grid-column: col4-start/col6-start;
  grid-row: row1-start/row3-start;
}
.titleTodescCardRope {
  transform: rotate(10deg);
  top: 5%;

  transform-origin: left;
}
.infocard {
  grid-column: col2-start/col4-start;
  grid-row: row2-start/row4-end;
}
.descCardtoinfocard {
  grid-column: col3-start/col7-start;
  grid-row: row2-start/row3-start;
}
.descCardtoinfocardRope {
  transform: rotate(-5deg);
  top: 10%;
  transform-origin: right top;
}
.cardContainer {
  grid-column: col5-start/col7-end;
  grid-row: row4-start/row4-end;
}
.card:first-child {
  transform: rotate(-6deg);
}
.card:nth-child(2) {
  transform: rotate(6deg);
}
.card:nth-child(3) {
  transform: rotate(-6deg);
}
.cardContainerTocardInfo {
  grid-column: col3-start/col6-start;
  grid-row: row4-start/row4-end;
}
.cardContainerTocardInfoRope {
  transform: rotate(15deg);
  top: 50%;
  transform-origin: right top;
}
.videoContainer {
  grid-column: col1-start/col5-start;
  grid-row: row2-start/row4-start;
  /* background-color: red; */
}
.descContainer {
  grid-column: col5-start/col7-end;
  grid-row: row2-start/row4-start;
}
.title_to_desc {
  grid-column: col3-start/col6-start;
  grid-row: row1-start/row3-start;
  /* background-color: red; */
}
.title_to_desc_rope {
  transform: rotate(12deg);
  top: 6%;
  transform-origin: left;
}
.desc_to_videoholder {
  grid-column: col4-start/col7-start;
  grid-row: row2-start/row4-start;
  /* background-color: red; */
}
.desc_to_videoholder_rope {
  transform: rotate(-15deg);
  top: 20%;
  transform-origin: right;
}
.carouselHolder {
  grid-column: col1-start/col7-end;
  grid-row: row5-start/row5-end;
}

.slides:nth-child(odd) {
  transform: rotate(-4deg);
}
.slides:nth-child(even) {
  transform: rotate(4deg);
}
.slidePin1 {
  right: 20%;
}
.slidePin2 {
  left: 15%;
}
.slidePin3 {
  left: 50%;
  transform: translateX(-50%);
}
.slidePin4 {
  left: 50%;
  transform: translateX(-50%);
}

.messageBox {
  grid-column: col3-start/col6-start;
  grid-row: row2-start/row10-start;
}
.emailBox {
  grid-column: col3-start/col6-start;
  grid-row: row11-start/row13-start;
}

.youtubeIcon {
  grid-column: col7-start/col9-start;
  grid-row: row3-start/row5-start;
}

.twitterIcon {
  grid-column: col7-start/col9-start;
  grid-row: row6-start/row7-start;
}
.instagramIcon {
  grid-column: col7-start/col9-start;
  grid-row: row8-start/row10-start;
}
.titleToIcon {
  grid-column: col3-start/col8-start;
  grid-row: row1-start/row4-start;
}
.titleToIconRope {
  transform: rotate(9deg);
  top: 15%;
  transform-origin: bottom left;
}
.iconToEmailBox {
  grid-column: col4-start/col8-start;
  grid-row: row8-start/row12-start;
}
.iconToEmailBoxRope {
  transform: rotate(-10deg);
  top: 0%;
  transform-origin: right top;
}
